<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="style.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Creative Project 2</title>
  </head>
  <body>

    <div id="app" class=layout>
      <div class="header">
        <div class="menu">
          <div class="logo">Todo List</div>
          <div class="saveas button" @click="saveas">
            <span v-show="!isSaving"><i class="fas fa-cogs" title="Save and Retrieve New ID"></i></span>
            <span v-show="isSaving"><i class="fas fa-cog fa-spin" title="Saving"></i></span>
          </div>
          <div class="idcontainer">
            <input id="idinput" v-model="id" @keyup="getList" placeholder="API Generated Project ID"/>
            <div class="idexplanation" v-show="id.length > 0">Keep Generated IDs for Future Use</div>
            <div class="idexplanation" v-show="id.length == 0"><b>Generate ID</b> to Save or <b>Enter Previous ID</b> to Open</div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="todobox">
          <div class="namecontainer">
            <div class="name" v-show="!project.edit && project.name.length == 0" @click="setNameEdit(true)">Click to Edit Name</div>
            <div class="name" v-show="!project.edit && project.name.length > 0" @click="setNameEdit(true)">{{project.name}}</div>
            <input class="nameinput" ref="nameinput" type="text" v-show="project.edit" v-model="project.name" @blur="setNameEdit(false)" @keydown.enter="setNameEdit(false)" v-bind:placeholder="phProjectName"/>
          </div>
          <div class="todos">
            <div class="todo" v-for="(todo, index) in project.todos">
              <div class="todonamecontainer">
                <div class="todoname" v-show="!todo.edit && todo.message.length == 0" @click="updateTodo(index, true, $event)">Click to Add Content</div>
                <div class="todoname" v-show="!todo.edit && todo.message.length > 0"  @click="updateTodo(index, true, $event)"><span v-cloak>{{todo.message}}</span></div>
                <input class="todoinput" type="text" v-show="todo.edit" v-model="todo.message" @blur="updateTodo(index, false, $event)" @keydown.enter="updateTodo(index, false, $event)" placeholder="Todo Text Here"/>
              </div>
              <div class="todobuttoncontainer">
                <div class="up button" @click="up(index)" v-show="project.todos.length > 1"><i class="fas fa-chevron-up"></i></div>
                <div class="down button" @click="down(index)" v-show="project.todos.length > 1"><i class="fas fa-chevron-down"></i></div>
                <div class="remove button" @click="remove(index)"><i class="fas fa-times"></i></div>
              </div>
            </div>
          </div>
          <div class="inputcontainer">
            <input @keyup.enter.prevent="addTodo" v-model="input" id="input" type="text" placeholder="Type Text. Enter to Add. All Changes Autosave to Generated ID."/>
          </div>
        </div>
      </div>
      <div class="footer">
        <div>
          Aaron Fjerstad
        </div>
        <a href="note.html">Get the Code</a>
      </div>
    </div>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
