/* https://color.adobe.com/Vintage-Romantic-color-theme-2646522/ */

body {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  font-family: 'Muli', sans-serif;
  color: #260126;
  background-color: #BFAF80;

}

input {
  height: 2rem;
  padding: .5rem;
  margin-bottom: 2rem;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #260126;
  background-color: white;
  -moz-box-sizing: content-box; /* or `border-box` */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  vertical-align: bottom;
}

.button {
  display: inline-block;
  color: #260126;
  padding: .5rem;
  margin-right: -.5rem;
  width: auto;
  cursor: pointer;
}

.layout {
  display: grid;
  grid-template-areas: "header" "content" "footer";
}

.header {
  grid-area: header;
  font-size: 3rem;
  color: #F2EEB3;
  text-align: center;
  background-color: #59323C;
  padding: 1rem;
}

.header a {
  color: #F2EEB3;
  text-decoration: none;
}

.header a:hover {
  color: #F2EEB3;
}

.header a:visited {
  color: #F2EEB3;
}

.saveas {
  position: relative;
  top: -1rem;
  display: inline;
  border:none;
  color: #8C7064;
  background-color: #59323C;
}

.saveas:hover {
  color: #F2EEB3;
}

.namecontainer {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  width: 30rem;
}

.name {
  cursor: pointer;
}

.nameinput {
  background-color: #BFAF80;
}

.idcontainer {
  display: inline;
  clear: none;
}

#idinput {
  color: #8C7064;
  background-color: #59323C;
}

#idinput::placeholder {
  color: #8C7064;
}

#idinput::-webkit-input-placeholder {
  color: #8C7064;
}

#idinput::-moz-placeholder {
  color: #8C7064;
}

#idinput:-ms-input-placeholder {
  color: #8C7064;
}

#idinput::-moz-placeholder {
  color: #8C7064;
}

.idexplanation {
  font-size: 1rem;
  font-style: italic;
}

.content {
  grid-area: content;
  text-align: center;
}

.todo {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 30rem;
  text-align: left;
  background-color: #AF9872;
  color: #160016;
  border-radius: 1rem;
}

.todobuttoncontainer {
  position: relative;
  top: -.5rem;
  text-align: right;
}

.todoname {
  cursor: pointer;
}

.todoinput {
  width: 100%;
  background-color: #AF9872;
}

#input {
  width: 30rem;
  color: #260126;
  background-color: #BFAF80;
}

.footer {
  grid-area: footer;
  font-size: 1.5rem;
  color: #F2EEB3;
  text-align: center;
  background-color: #59323C;
  padding: 1rem;
}

.footer a {
  color: #F2EEB3;
  font-size: 3rem;
  text-decoration: none;
}

.footer a:hover {
  color: #F2EEB3;
}

.footer a:visited {
  color: #F2EEB3;
}

#note {
  font-size: 1.5rem;
}

.notecontent {
  min-height: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 30rem;
  margin: 0 auto;
  text-align: left;
}

.notecontent a {
  text-decoration: underline;
  color: #260126;
}

.notecontent a:hover {
  color: #260126;
}

.notecontent a:visited {
  color: #260126;
}

#codelink {
  margin-top: 1rem;
  font-size: 2rem;
}

#note {
  /* line-height: 1.2rem; */
}
